@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义字体 - 站点标题 */
@font-face {
  font-family: 'AerialFaster';
  src: url('../fonts/AerialFasterRegular.woff2') format('woff2'),
       url('../fonts/AerialFasterRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@layer base {
  html {
    @apply overflow-x-hidden overscroll-x-none;
  }

  body {
    @apply overflow-x-hidden overscroll-x-none bg-black;
  }
}
